@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "neat-settings";
@import "base/base";

@import "article";

.container {
  @include grid-container;
  @include margin(null auto);
  max-width: 75rem;
  position: relative;
}

header {
  background-color: teal;
  padding: 20px;
  margin: 10px;
}

#main {
  background-color: beige;
  display: flex;
}

nav {
  @include grid-column(2);
  background-color: crimson;
  padding: 20px;
}



aside {
  @include grid-column(2);
  background-color: goldenrod;
  padding: 20px;
}

footer {
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
}
